@import "./partials/config";
@include init;

//bg-home
.home-bg {
  pointer-events: none; // bug click
  background-image: url("../img/home/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
  @include flexCenter;

  &::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background-color: rgba($grey, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .date{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    h3{
      color: $white;
      text-transform: lowercase;
      text-align: center;
      font-size: 3rem;
      font-family: $fontTitleReg;
      letter-spacing: 1px;
      @include breakpoint(768){
        font-size: 2rem;
      }
      @include breakpoint(480){
        font-size: 1.5rem;
      }
    }

  }

}

// marquee
section{
  .home-marquee{
    @include gradientCol(bottom);
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;

    &:hover{
      background: $gold;
      transition: all .1s ease-in-out;
      span, i{
        color: $grey;
      }
    }
    .scroll{
      color: $white;
      width: 100%;
      display: flex;
      padding: 1rem 0 1rem 0;
      font-family: $fontTitleReg;
      letter-spacing: 1px;
      white-space: nowrap;
      span{
        display: flex;
        align-items: center;
        @include fontSize(subtitle);
      }
      i{
        margin: 0 1rem;
      }
    }
  }
}

//presentation
.home-pres{
  @include spaceSection;
  .wrapper{
    display: flex;
    justify-content: space-between;
    @include breakpoint(815){
      justify-content: center;
    }
    align-items: center;
    @include wrapper;
    .container{
      width: 30%;
      align-items: center;
      @include breakpoint(815){
        width: 50%;
      }
      @include breakpoint(550){
        width: 75%;
      }
      @include breakpoint(480){
        width: 100%;
      }
      .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        h4{
          @include titleSection;
        }
        button a{
          color: $gold;
        }
        p{
          text-align: center;
          @include fontSize(text);
        }
        button{
          @include button;
          background: transparent;
          border: 2px solid $gold;
          border-radius: 3px;
          &:hover{
            background: $gold;
            a{
              color: $grey;
            }
          }
        }
      }
    }
    .img{
      background: url("../img/home/stage.jpg") center bottom no-repeat;
      min-height: 25rem;
      width: 60%;
      @include breakpoint(815){
        display: none;
      }
    }
  }
}

//video
.home-video{
  padding-bottom: 5rem;
  @include breakpoint(768){
    padding-bottom: 4rem;
  }
  @include breakpoint(360){
    padding-bottom: 3rem;
  }
  .wrapper{
    @include wrapper;
    iframe{
      object-fit: cover;
      width: 100%;
      min-height: 65vh;
      @include breakpoint(1024){
        min-height: 50vh;
      }
      @include breakpoint(768){
        min-height: 40vh;
      }
      @include breakpoint(480){
        min-height: 30vh;
      }
    }
  }
}
