@import "./partials/config";
@include init;

//bg-home
.home-bg {
  pointer-events: none; // bug click
  background-image: url("../img/home/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background-color: rgba($grey, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .date {
    z-index: 3;

    h3 {
      font-size: 3rem;
      text-transform: lowercase;
      color: $white;
      text-align: center;
      @include breakpoint(450){
        font-size: 2rem;
      }
    }
  }
}

// marquee
section{
  .home-marquee{
    @include gradientCol(bottom);
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;

    &:hover{
      background: $gold;
      transition: all .1s ease-in-out;
      span, i{
        color: $grey;
      }
    }
    .scroll{
      color: $white;
      width: 100%;
      display: flex;
      padding: 1rem 0 1rem 0;
      font-family: $fontTitleReg;
      white-space: nowrap;
      span{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        @include breakpoint(768){
          font-size: 1.25rem;
        }
        @include breakpoint(360){
          font-size: 1.125rem;
        }
      }
      i{
        margin: 0 1rem;
      }
    }
  }
}

//presentation
.home-pres{
  @include spaceSection;
  .wrapper{
    display: flex;
    height: 100%;
    @include wrapper;
    .text{
      width: 40%;
      @include flexCenter;
      flex-direction: column;
      gap: 2rem;

      @include breakpoint(1600){
        width: 50%;
      }
      @include breakpoint(768){
        width: 100%;
      }
      button a{
        color: $gold;
        font-family: $fontTitleReg;
      }

      p{
        width: 50%;
        text-align: center;
        @include breakpoint(1600){
          width: 60%;
        }
        @include breakpoint(900){
          width: 80%;
        }
      }

      button{
        @include button;
        background: transparent;
        border: 2px solid $gold;
        border-radius: 3px;

        a{
          font-size: 1.5rem;

          @include breakpoint(360){
            font-size: 1.25rem;
          }
        }

        &:hover{
          background: $gold;

          a{
            color: $grey;
          }
        }
      }
    }

    .img{
      background: url("../img/home/stage.jpg") center bottom no-repeat;
      min-height: 25rem;
      width: 50%;
      @include breakpoint(1600){
        width: 50%;
      }
      @include breakpoint(768){
        display: none;
      }
    }
  }
}

//video
.home-video{
  padding-bottom: 5rem;
  @include breakpoint(768){
    padding-bottom: 4rem;
  }
  @include breakpoint(360){
    padding-bottom: 3rem;
  }
  .wrapper{
    @include wrapper;
    iframe{
      object-fit: cover;
      width: 100%;
      min-height: 65vh;
      @include breakpoint(1400){
        min-height: 50vh;
      }
      @include breakpoint(1100){
        min-height: 40vh;
      }
      @include breakpoint(768){
        min-height: 30vh;
      }
      @include breakpoint(360){
        min-height: 20vh;
      }
    }
  }
}
