@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@font-face {
  font-family: "Gobold Bold";
  src: local("Gobold Bold"), url("../../fonts/gobold/Gobold_Bold.woff") format("woff");
}
@font-face {
  font-family: "Gobold Regular";
  src: local("Gobold Regular"), url("../../fonts/gobold/Gobold_Regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: #1d1d1d;
  background-color: rgba(255, 215, 0, 0.9);
}

main {
  background-image: url("../../img/background.svg");
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  line-height: 140%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.home-bg {
  pointer-events: none;
  background-image: url("../img/home/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-bg::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}
.home-bg .date {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}
.home-bg .date h3 {
  color: #ffffff;
  text-transform: lowercase;
  text-align: center;
  font-size: 3rem;
  font-family: "Gobold Regular";
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .home-bg .date h3 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .home-bg .date h3 {
    font-size: 1.5rem;
  }
}

section .home-marquee {
  background: linear-gradient(to bottom, #191919, #1d1d1d);
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}
section .home-marquee:hover {
  background: #ffd700;
  transition: all 0.1s ease-in-out;
}
section .home-marquee:hover span, section .home-marquee:hover i {
  color: #1d1d1d;
}
section .home-marquee .scroll {
  color: #ffffff;
  width: 100%;
  display: flex;
  padding: 1rem 0 1rem 0;
  font-family: "Gobold Regular";
  letter-spacing: 1px;
  white-space: nowrap;
}
section .home-marquee .scroll span {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  section .home-marquee .scroll span {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  section .home-marquee .scroll span {
    font-size: 1.125rem;
  }
}
section .home-marquee .scroll i {
  margin: 0 1rem;
}

.home-pres {
  padding: 5rem 0;
}
@media (max-width: 768px) {
  .home-pres {
    padding: 4rem 0;
  }
}
@media (max-width: 480px) {
  .home-pres {
    padding: 3rem 0;
  }
}
.home-pres .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 815px) {
  .home-pres .wrapper {
    justify-content: center;
  }
}
@media (max-width: 1250px) {
  .home-pres .wrapper {
    width: 90%;
  }
}
.home-pres .wrapper .container {
  width: 30%;
  align-items: center;
}
@media (max-width: 815px) {
  .home-pres .wrapper .container {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .home-pres .wrapper .container {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .home-pres .wrapper .container {
    width: 100%;
  }
}
.home-pres .wrapper .container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.home-pres .wrapper .container .text h4 {
  font-size: 2.25rem;
  font-family: "Gobold Regular";
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #ffd700;
}
@media (max-width: 1024px) {
  .home-pres .wrapper .container .text h4 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .home-pres .wrapper .container .text h4 {
    font-size: 1.75rem;
  }
}
@media (max-width: 480px) {
  .home-pres .wrapper .container .text h4 {
    font-size: 1.5rem;
  }
}
.home-pres .wrapper .container .text button a {
  color: #ffd700;
}
.home-pres .wrapper .container .text p {
  text-align: center;
  font-size: 1.125rem;
  font-family: "Source Sans Pro";
  color: #ffffff;
}
@media (max-width: 768px) {
  .home-pres .wrapper .container .text p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .home-pres .wrapper .container .text p {
    font-size: 0.875rem;
  }
}
.home-pres .wrapper .container .text button {
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid #ffd700;
  border-radius: 3px;
}
.home-pres .wrapper .container .text button a {
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Gobold Regular";
  letter-spacing: 1px;
}
@media (max-width: 1024px) {
  .home-pres .wrapper .container .text button a {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .home-pres .wrapper .container .text button a {
    font-size: 1.375rem;
  }
}
.home-pres .wrapper .container .text button:hover {
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}
@media (max-width: 480px) {
  .home-pres .wrapper .container .text button {
    padding: 0.5rem 1rem;
  }
}
.home-pres .wrapper .container .text button:hover {
  background: #ffd700;
}
.home-pres .wrapper .container .text button:hover a {
  color: #1d1d1d;
}
.home-pres .wrapper .img {
  background: url("../img/home/stage.jpg") center bottom no-repeat;
  min-height: 25rem;
  width: 60%;
}
@media (max-width: 815px) {
  .home-pres .wrapper .img {
    display: none;
  }
}

.home-video {
  padding-bottom: 5rem;
}
@media (max-width: 768px) {
  .home-video {
    padding-bottom: 4rem;
  }
}
@media (max-width: 360px) {
  .home-video {
    padding-bottom: 3rem;
  }
}
.home-video .wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .home-video .wrapper {
    width: 90%;
  }
}
.home-video .wrapper iframe {
  object-fit: cover;
  width: 100%;
  min-height: 65vh;
}
@media (max-width: 1024px) {
  .home-video .wrapper iframe {
    min-height: 50vh;
  }
}
@media (max-width: 768px) {
  .home-video .wrapper iframe {
    min-height: 40vh;
  }
}
@media (max-width: 480px) {
  .home-video .wrapper iframe {
    min-height: 30vh;
  }
}

/*# sourceMappingURL=home.css.map */
