@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@font-face {
  font-family: "Gobold Bold";
  src: local("Gobold Bold"), url("../../fonts/gobold/Gobold_Bold.woff") format("woff");
}
@font-face {
  font-family: "Gobold Regular";
  src: local("Gobold Regular"), url("../../fonts/gobold/Gobold_Regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../../img/background.svg");
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  line-height: 150%;
}

main {
  min-height: 90vh;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.bustarhymes-bg {
  background-image: url("../img/artiste/bustarhymes.webp");
}

.fiftycent-bg {
  background-image: url("../img/artiste/fiftycent.webp");
}

.drdre-bg {
  background-image: url("../img/artiste/drdre.webp");
}

.eminem-bg {
  background-image: url("../img/artiste/eminem.webp");
}

.icecube-bg {
  background-image: url("../img/artiste/icecube.webp");
}

.jayz-bg {
  background-image: url("../img/artiste/jayz.webp");
}

.kanye-bg {
  background-image: url("../img/artiste/kanye.webp");
}

.lilwayne-bg {
  background-image: url("../img/artiste/lilwayne.webp");
}

.mosdef-bg {
  background-image: url("../img/artiste/mosdef.webp");
}

.nas-bg {
  background-image: url("../img/artiste/nas.webp");
}

.nelly-bg {
  background-image: url("../img/artiste/nelly.webp");
}

.outkast-bg {
  background-image: url("../img/artiste/outkast.webp");
}

.snoop-bg {
  background-image: url("../img/artiste/snoop.webp");
}

#line-up {
  padding-top: 15vh;
}
#line-up .wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  #line-up .wrapper {
    width: 90%;
  }
}
#line-up .wrapper h3 {
  font-family: "Gobold Regular";
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-family: "Gobold Regular";
  text-transform: lowercase;
  letter-spacing: 1px;
  line-height: 160%;
  text-align: center;
  color: #ffd700;
  text-transform: lowercase;
}
@media (max-width: 768px) {
  #line-up .wrapper h3 {
    font-size: 2rem;
  }
}
#line-up .wrapper .days {
  margin-top: 4rem;
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  #line-up .wrapper .days {
    margin-top: 3rem;
  }
}
@media (max-width: 450px) {
  #line-up .wrapper .days {
    border-bottom: 1px solid #ffd700;
  }
}
#line-up .wrapper .days li {
  display: block;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #ffffff;
  border-bottom: 1px solid #ffd700;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Gobold Regular";
  text-align: center;
}
@media (max-width: 1024px) {
  #line-up .wrapper .days li {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  #line-up .wrapper .days li {
    font-size: 1.125rem;
  }
}
#line-up .wrapper .days li:hover, #line-up .wrapper .days li.active {
  background: #ffd700;
  color: #1d1d1d;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 450px) {
  #line-up .wrapper .days li {
    border-bottom: none;
    flex: 1;
  }
}
@media (max-width: 400px) {
  #line-up .wrapper .days li {
    border-bottom: none;
    flex: 1;
    padding: 0.8rem 1rem;
  }
}
#line-up .wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.25rem;
  width: 100%;
}
#line-up .wrapper .container.saturday, #line-up .wrapper .container.sunday, #line-up .wrapper .container.weekend {
  display: none;
}
#line-up .wrapper .container.active {
  display: flex;
}
#line-up .wrapper .container .card {
  width: 30%;
  height: 100%;
  border-bottom: 1px solid #ffd700;
  position: relative;
}
@media (max-width: 950px) {
  #line-up .wrapper .container .card {
    width: 45%;
  }
}
@media (max-width: 550px) {
  #line-up .wrapper .container .card {
    width: 100%;
  }
}
#line-up .wrapper .container .card a .card-img {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#line-up .wrapper .container .card a .card-img:hover::before {
  left: 0;
}
#line-up .wrapper .container .card a .card-img::before {
  content: "En savoir plus";
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Source Sans Pro";
  background: rgba(25, 25, 25, 0.8);
  left: -100%;
  transition: left 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  #line-up .wrapper .container .card a .card-img::before {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  #line-up .wrapper .container .card a .card-img::before {
    font-size: 1.125rem;
  }
}
#line-up .wrapper .container .card a .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  position: relative;
}
#line-up .wrapper .container .card a .card-body .card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#line-up .wrapper .container .card a .card-body .card-text .name {
  font-size: 1.75rem;
  font-family: "Gobold Regular";
  text-transform: lowercase;
  letter-spacing: 1px;
  line-height: 160%;
  color: #ffffff;
}
@media (max-width: 768px) {
  #line-up .wrapper .container .card a .card-body .card-text .name {
    font-size: 1.5rem;
  }
}
#line-up .wrapper .container .card a .card-body .card-text .schedule {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  #line-up .wrapper .container .card a .card-body .card-text .schedule {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  #line-up .wrapper .container .card a .card-body .card-text .schedule {
    font-size: 1.125rem;
  }
}
#line-up .wrapper .container .card a .card-body .arrow i {
  position: absolute;
  color: #ffffff;
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 830px) {
  #line-up .wrapper .container .card a .card-body .arrow i {
    display: block;
  }
}

/*# sourceMappingURL=lineup.css.map */
