@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@font-face {
  font-family: "Gobold Bold";
  src: local("Gobold Bold"), url("../../fonts/gobold/Gobold_Bold.woff") format("woff");
}
@font-face {
  font-family: "Gobold Regular";
  src: local("Gobold Regular"), url("../../fonts/gobold/Gobold_Regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: #1d1d1d;
  background-color: rgba(255, 215, 0, 0.9);
}

main {
  background-image: url("../../img/background.svg");
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  line-height: 140%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

header {
  background: linear-gradient(to bottom, #191919, #1d1d1d);
  width: 100%;
  font-family: "Gobold Regular";
  color: #ffffff;
  text-transform: lowercase;
  overflow: hidden;
  position: fixed;
  text-align: center;
}
header .nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  z-index: 99;
  position: relative;
  transition: height 0.5s ease-in-out;
  opacity: 1;
}
header .nav.mobile {
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
header .nav.mobile .wrapper {
  width: 70%;
}
header .nav.mobile .wrapper .nav-logo {
  display: none;
}
header .nav.mobile .wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
header .nav.mobile .wrapper ul .nav-link:nth-last-child(4), header .nav.mobile .wrapper ul .nav-link:nth-child(5) {
  display: flex;
}
header .nav.mobile .wrapper ul .nav-link .burger {
  position: absolute;
  top: 100px;
  right: 100px;
}
@media (max-width: 600px) {
  header .nav.mobile .wrapper ul .nav-link {
    display: flex;
  }
}
header .nav .wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .nav .wrapper .nav-logo {
  width: fit-content;
  align-self: center;
}
header .nav .wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .nav .wrapper ul .nav-link a {
  color: #ffffff;
}
header .nav .wrapper ul .nav-link a:hover {
  color: #ffd700;
  transition: color 0.2s;
}
header .nav .wrapper ul .nav-link:nth-last-child(4), header .nav .wrapper ul .nav-link:nth-child(5) {
  display: none;
}
header .nav .wrapper ul .nav-link .burger {
  cursor: pointer;
}
header .nav .wrapper ul .nav-link .burger:hover span {
  background-color: #ffd700;
}
header .nav .wrapper ul .nav-link .burger span {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: transform 0.3s ease-in-out, background-color 0.2s;
}
header .nav .wrapper ul .nav-link .burger.active span:nth-child(2) {
  opacity: 0;
}
header .nav .wrapper ul .nav-link .burger.active span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
header .nav .wrapper ul .nav-link .burger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
@media (max-width: 600px) {
  header .nav .wrapper ul .nav-link {
    display: none;
  }
  header .nav .wrapper ul .nav-link:last-child {
    display: block;
  }
}

/*# sourceMappingURL=test.css.map */
