@import "./partials/config";
@include init;

header{
      @include gradientCol(bottom);
      width: 100%;
      font-family: $fontTitleReg;
      color: $white;
      text-transform: lowercase;
      overflow: hidden;
      position: fixed;
      text-align: center;
      .nav{
            width: 100%;
            height: $navBarHeight;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            z-index: 99;
            position: relative;
            transition: height .5s ease-in-out;
            opacity: 1;
            &.mobile{
                  width: 100vw;
                  height: 100vh;
                  z-index: 99;
                  .wrapper{
                        width: 70%;
                        .nav-logo{
                              display: none;
                        }
                        ul{
                              display: flex;
                              flex-direction: column;
                              align-items: flex-start;
                              text-align: left;
                              .nav-link{
                                    &:nth-last-child(4), &:nth-child(5){
                                          display: flex;
                                    }
                                    .burger{
                                          position: absolute;
                                          top: 100px;
                                          right: 100px;
                                    }
                                    @include breakpoint(600){
                                          display: flex;
                                    }
                              }
                        }
                  }
            }
            .wrapper{
                  width: 95%;
                  margin: 0 auto;
                  display: flex;
                  justify-content: space-between;
                  .nav-logo{
                        width: fit-content;
                        align-self: center;
                  }
                  ul{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        .nav-link{
                              a{
                                    color: $white;
                                    &:hover{
                                          color: $gold;
                                          transition: color .2s;
                                    }
                              }
                              &:nth-last-child(4), &:nth-child(5){
                                    display: none;
                              }
                              .burger{
                                    cursor: pointer;
                                    &:hover span{
                                          background-color: $gold;
                                    }
                                    span{
                                          width: 50px;
                                          height: 5px;
                                          background-color: #ecf0f1;
                                          display: block;
                                          margin: 8px auto;
                                          transition: transform 0.3s ease-in-out, background-color .2s;
                                    }
                                    &.active{
                                          span{
                                                &:nth-child(2){
                                                      opacity: 0;
                                                }
                                                &:nth-child(1){
                                                      transform: translateY(13px) rotate(45deg);
                                                }
                                                &:nth-child(3){
                                                      transform: translateY(-13px) rotate(-45deg);
                                                }
                                          }
                                    }
                              }
                              @include breakpoint(600){
                                    display: none;

                                    &:last-child{
                                          display: block;
                                    }
                              }
                        }
                  }
            }
      }
}