@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");

@font-face {
  font-family: "Gobold Bold";
  src: local("Gobold Bold"),
    url("../../fonts/gobold/Gobold Bold.woff") format("woff");
}

@font-face {
  font-family: "Gobold Regular";
  src: local("Gobold Regular"),
    url("../../fonts/gobold/Gobold Regular.woff") format("woff");
}

$gold: #ffd700;
$grey: #1d1d1d;
$white: #ffffff;
$navColor: #1b1b1b;
$fontTitleBold: "Gobold Bold";
$fontTitleReg: "Gobold Regular";
$fontText: "Source Sans Pro";
$navBarHeight: 90px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: $grey;
  background-color: rgba(255, 215, 0, 0.9);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@mixin breakpoint($size) {
  @media (max-width: $size + px) {
    @content;
  }
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  min-height: 100vh;
  position: relative;
}
