$gold: #ffd700;
$grey: #1d1d1d;
$white: #ffffff;
$navColor: #1b1b1b;
$greyDark: #191919;
$fontTitleBold: "Gobold Bold";
$fontTitleReg: "Gobold Regular";
$fontText: "Source Sans Pro";
$navBarHeight: 10vh;
@mixin init{
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
  @font-face {
    font-family: "Gobold Bold";
    src: local("Gobold Bold"),
    url("../../fonts/gobold/Gobold_Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Gobold Regular";
    src: local("Gobold Regular"),
    url("../../fonts/gobold/Gobold_Regular.woff") format("woff");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  //::selection{
  //  color: $grey;
  //  background-color: rgba(255, 215, 0, 0.9);
  //}
  body{
    background-image: url("../../img/background.svg");
    background-color: $grey;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    line-height: 150%;
  }
  main{
    min-height: 100vh - $navBarHeight;
  }
  a{
    text-decoration: none;
  }
  ul, li{
    list-style: none;
  }
}

@mixin gradientCol($direction){
    background: linear-gradient(to $direction, $greyDark, $grey);
}
@mixin breakpoint($size) {
  @media (max-width: $size + px) {
    @content;
  }
}

@mixin titleSection($fontSize: 0){
  font-family: $fontTitleReg;
  letter-spacing: 1px;
  @include fontSize(title, $fontSize);
  text-align: center;
  color: $gold;
  text-transform: lowercase;
}

@mixin fontSize($type, $plus: 0){
  @if $type == title{
    font-size: 2.25rem + $plus;
    font-family: $fontTitleReg;
    text-transform: lowercase;
    letter-spacing: 1px;
    line-height: 160%;
    //@include breakpoint(1024){
    //  font-size: 2rem + $plus;
    //}
    @include breakpoint(768){
      font-size: 2rem + $plus;
    }
    //@include breakpoint(480){
    //  font-size: 1.5rem + $plus;
    //}
  }
  @if $type == subtitle{
    font-size: 1.5rem + $plus;
    @include breakpoint(1024){
      font-size: 1.25rem + $plus;
    }
    @include breakpoint(768){
      font-size: 1.125rem + $plus;
    }
  }
  @if $type == text{
    font-size: 1.125rem + $plus;
    font-family: $fontText;
    color: $white;
    @include breakpoint(480){
      font-size: 1rem + $plus;
    }
  }
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button($padTop: 0, $padBot: 0){
  .button{
    //margin-top: 2.25rem;
    display: flex;
    justify-content: center;
    button{
      background: transparent;
      border: 2px solid $gold;
      border-radius: 3px;
      width: fit-content;
      outline: none;
      padding: (($padTop + .75rem) ($padBot + 2.5rem));
      cursor: pointer;
      a{
        color: $gold;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
        @include fontSize(subtitle, .25rem);
        font-family: $fontTitleReg;
        letter-spacing: 1px;
      }
      &:hover{
        background: $gold;
        transition: all .2s ease-in-out;
        border: 2px solid transparent;
        a{
          color: $grey;
        }
      }
      @include breakpoint(480){
        padding: (($padTop + .5rem) ($padBot + 1rem));
      }
    }
  }
}

@mixin spaceSection{
  margin-top: 4rem;
  @include breakpoint(768){
    margin-top: 3rem;
  }
  //@include breakpoint(480){
  //  margin-top: 3rem;
  //}
}

@mixin spaceNav{
  padding-top: $navBarHeight * 1.5;
}

@mixin wrapper($width: 0){
  width: 1200px + $width;
  margin: 0 auto;
  @include breakpoint(1250 + $width){
    width: 90%;
  }
}