@import "config";

footer {
  //@include gradientCol(top);
  width: 100%;
  background: linear-gradient(to top, $greyDark, $grey);
  color: $white;
  font-family: $fontText;
  padding: 2rem 0;

  .wrapper {
    @include wrapper;
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        li {
          a {
            color: $white;
            font-size: 1rem;

            &:hover {
              color: $gold;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .socials {
      list-style: none;
      @include flexCenter;
      gap: 4rem;

      @include breakpoint(550) {
        gap: 2rem;
      }

      li {
        a {
          color: $white;

          &:hover {
            color: $gold;
          }

          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    .credits {

      p {
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }
}
