@import "config";

footer {
  @include gradientCol(top);
  width: 100%;
  color: $white;
  font-family: $fontText;
  padding: 1rem 0;
  @include spaceSection;
  .wrapper {
    @include wrapper;
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    h4{
      @include fontSize(subtitle, .25rem);
      letter-spacing: 1px;
      font-family: $fontTitleReg;
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        li {
          a {
            color: $white;
            @include fontSize(text);

            &:hover {
              color: $gold;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .socials {
      list-style: none;
      @include flexCenter;
      gap: 4rem;

      @include breakpoint(550) {
        gap: 2rem;
      }

      li {
        a {
          color: $white;

          &:hover {
            color: $gold;
          }

          i {
            @include fontSize(subtitle, .25rem);
          }
        }
      }
    }

    .credits {

      p {
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }
}
