@import "config";
$name: fiftycent, drdre, eminem, icecube, jayz, kanye, nelly, outkast, snoop;
@each $iteration in $name {
      .#{$iteration}-bg {
            background-image: url("../../img/home/#{$iteration}.webp");
      }
}
.home-artiste{
      @include spaceSection;
      .bg{
            transition: opacity .5s ease-in-out;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 20%;
            position: relative;
            min-height: 60vh;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 4rem 0;
            @include breakpoint(1200){
                  min-height: initial;
            }
            @include breakpoint(800){
                  padding: 3rem 0;
            }
            @include breakpoint(420){
                  padding: 2rem 0;
            }
            .wrapper{
                  @include wrapper;
                  .list{
                        font-family: $fontTitleReg;
                        ul{
                              .active{
                                    transition: all .3s ease-in-out;
                                    background: $gold;
                                    a{
                                          color: $grey;
                                          text-shadow: initial;
                                    }
                              }
                              li{
                                    cursor: pointer;
                                    padding: .5rem;
                                    text-align: center;
                                    width: fit-content;
                                    a{
                                          display: block;
                                          text-decoration: none;
                                          color: $white;
                                          @include fontSize(subtitle);
                                          text-transform: lowercase;
                                          letter-spacing: 1px;
                                          text-shadow: 1px 1px $grey;
                                    }
                                    &:last-child {
                                          transition: all .1s ease-in-out;
                                          &:hover{
                                                transform: translateX(5px);
                                                a{
                                                      color: $gold;
                                                }
                                          }
                                          a{
                                          @include fontSize(subtitle, -.25rem);
                                          text-decoration: underline;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}