@import "config";
.home-faq{
      @include spaceSection;
      @include flexCenter;
      flex-direction: column;
      gap: 2.25rem;
      h4{
            @include titleSection;
      }
      .wrapper{
            @include wrapper();
            @import "faq-part";
      }
      .button{
            button{
                  @include button;
                  background: transparent;
                  border: 2px solid $gold;
                  border-radius: 3px;
                  a{
                        color: $gold;
                  }
                  &:hover{
                        background: $gold;
                        a{
                              color: $grey;
                        }
                  }
            }
      }
}
