@import "config";

.home-artiste{
      .bg{
            transition: opacity .5s ease-in-out;
            background-size: cover;
            background-position: center center;
            .wrapper{
                  @include wrapper;
                  .list{
                        @include spaceSection;
                        font-family: $fontTitleReg;
                        ul{
                              .active{
                                    transition: all .3s ease-in-out;
                                    background: $gold;
                                    a{
                                          color: $grey;
                                    }
                              }
                              li{
                                    cursor: pointer;
                                    padding: 0.5rem 1rem;
                                    width: fit-content;
                                    @include breakpoint(768){
                                          padding: 0.4rem .75rem;
                                    }
                                    @include breakpoint(360){
                                          padding: 0.3rem .5rem;
                                    }
                                    a{
                                          text-decoration: none;
                                          color: $white;
                                          font-size: 1.5rem;
                                          text-transform: lowercase;
                                          @include breakpoint(768){
                                                font-size: 1.25rem;
                                          }
                                          @include breakpoint(360){
                                                font-size: 1.125rem;
                                          }
                                    }
                                    &:last-child {
                                          transition: all .1s ease-in-out;
                                          &:hover{
                                                transform: translateX(5px);
                                          }
                                          a{
                                          font-size: 1.25rem;
                                          text-decoration: underline;
                                          color: $gold;
                                                @include breakpoint(360){
                                                      font-size: 0.75rem;
                                                }
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}
$name: fiftycent, drdre, eminem, icecube, jayz, kanye, nelly, outkast, snoop;

@each $iteration in $name {
      .#{$iteration}-bg {
            background-image: url("../../img/home/#{$iteration}.jpg");
      }
}
