@import "config";

header{
  @include gradientCol(bottom);
  width: 100%;
  font-family: $fontTitleReg;
  letter-spacing: 1px;
  color: $white;
  text-transform: lowercase;
  overflow: hidden;
  position: fixed;
  text-align: center;
  z-index: 90;
  transition: top .2s ease-in-out;
  .nav{
    width: 100%;
    height: $navBarHeight;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    z-index: 99;
    position: relative;
    transition: height .5s ease-in-out;
    opacity: 1;
    &.mobile{
      width: 100vw;
      height: 100vh;
      z-index: 99;
      .wrapper{
        width: 60%;
        font-size: 3rem;
        @include breakpoint(500){
          width: 80%;
        }
        .nav-logo{
          display: none;
        }
        ul{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          text-align: left;
          gap: 3rem;
          .nav-link{
            transition: transform .2s;
            &:hover{
              transform: translateX(10px);
            }
            &:nth-last-child(4), &:nth-child(5), &:nth-child(6){
              display: flex;
            }
            .burger{
              position: absolute;
              top: 10%;
              right: 10%;
              @include breakpoint(576){
                top: 40px;
                right: 40px;
              }
            }
            @include breakpoint(600){
              display: flex;
            }
            &:last-child:hover{
              transform: none;
            }
          }
        }
      }
    }
    .wrapper{
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @include breakpoint(1024){
        font-size: 1.25rem;
      }
      .nav-logo{
        width: fit-content;
        align-self: center;
      }
      ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        .nav-link{
          a{
            color: $white;
            height: auto;
            &:hover{
              color: $gold;
              transition: color .2s;
            }
          }
          &:nth-last-child(4), &:nth-child(5), &:nth-child(6){
            display: none;
          }
          .burger{
            cursor: pointer;
            //&:hover span{
            //  background-color: $gold;
            //}
            @media (hover: hover){
              &:hover span{
                background: $gold;
              }
            }
            span{
              width: 50px;
              height: 5px;
              background-color: #ecf0f1;
              display: block;
              margin: 8px auto;
              transition: transform 0.3s ease-in-out, background-color .2s;
            }
            &.active{
              span{
                &:nth-child(2){
                  opacity: 0;
                }
                &:nth-child(1){
                  transform: translateY(13px) rotate(45deg);
                }
                &:nth-child(3){
                  transform: translateY(-13px) rotate(-45deg);
                }
              }
            }
          }
          @include breakpoint(600){
            display: none;

            &:last-child{
              display: block;
            }
          }
        }
      }
    }
  }
}